---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '@/components/Footer.astro';
import 'leaflet/dist/leaflet.css';
import Navbar from '@/components/Navbar.astro';

const lokalgruppen = await Astro.glob('./de/lokalgruppen/*.md');
---

<script type="module" src={(await import('../scripts/leaflet.js?url')).default}></script>

<Layout title="Home">
	<div class="absolute top-0" style="height: 450px; z-index: -100;transform: scaleX(-1) ">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none" style="height: 450px; width: 100%;  ">
			<path d="M0,0 L0,100 1200,0 1200,0" style="fill: var(--color-blue-primary);"></path>
			<path d="M0,0 L0,60 1200,0 1200,0" style="fill: #fff;"></path>
			<path d="M0,0 L0,30 1200,0 1200,0" style="fill: var(--color-blue-secondary);"></path>
		</svg>
	</div>

	<Navbar />

	<main style="margin-top: 150px;">
		<div class="md:flex container mx-auto items-center">
			<div class="max-w-lg">
				<div class="text-xl">
					Impfen ist eine Entscheidung, die nur bei ausreichenden Informationen richtig gefällt werden kann. Der ehrenamtliche Verein für Impfaufklärung in Deutschland hat es sich zur Aufgabe gemacht,
					gegen Halbwissen und Vorurteile rund um das Thema Impfung und Immunisierung aufzuklären.
				</div>

				<div class="mt-10">
					<a href="#" class="rounded inline-block bg-impf hover:bg-sky-600 text-white text-xl py-3 px-5 gap-2 items-center cursor-pointer"> Mitmachen</a>
				</div>
			</div>

			<div class="md:ml-auto rounded-md lg:-mr-20 overflow-hidden md:overflow-visible border-gray-200 shadow-lg ease-in-out duration-500 rotate-1 hover:rotate-3">
				<img src="/schueler.jpg" class="object-cover w-[700px] h-[400px] rounded-md" />
			</div>
		</div>

		<div class="container mx-auto mt-10">
			<div class="p-4 mb-4 text-lg text-white bg-impf rounded-lg" role="alert">
				<span class="font-bold">Aktuell</span>
				<span class="border-l-white border-l-2 mx-2"></span>
				<a href="/news/2022-10-30-bundestreffen-2022"> Bundestreffen 2022</a>
			</div>
		</div>

		<div class="container mx-auto mt-10">
			<h1 class="text-3xl font-bold">Was wir machen</h1>
			<div class="flex">
				<div class="bg-gray-200">
					<h2>Aufklären</h2>
				</div>
			</div>
		</div>

		<div>
			<div class="container mx-auto">
				<div class="absolute text-white mt-10" style="opacity: 0.3;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-60 h-60">
						<path
							fill-rule="evenodd"
							d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
			</div>
			<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 30" preserveAspectRatio="none" style="height: 82px; width: 100%;">
				<path d="M0,0 L1200,30 0,30" style="fill: rgb(55, 65, 81);"></path>
			</svg>
		</div>

		<div class="bg-gray-700">
			<div class="container mx-auto text-white pb-5">
				<h2 class="text-gray-200">Aufklärung in der Nähe</h2>
				<h1 class="text-3xl font-bold mb-5">Lokalgruppen</h1>

				<div class="flex">
					<div class="flex-1 z-10">
						{
							lokalgruppen.map((lokalgruppe) => (
								<a href={lokalgruppe.url} class="text-sky-300 text-xl py-3 cursor-pointer">
									{lokalgruppe.frontmatter.title}
								</a>
							))
						}
					</div>

					<div id="lgmap" class="flex-1 rounded-xl" style="height: 450px; z-index: 0;"></div>
				</div>

				<div id="lglokal" class="hidden">
					{
						JSON.stringify(
							lokalgruppen.map((lokalgruppe) => {
								return {
									name: lokalgruppe.frontmatter.title,
									href: lokalgruppe.url,
									coords: [lokalgruppe.frontmatter.latitude, lokalgruppe.frontmatter.longitude],
								};
							})
						)
					}
				</div>

				<script>
					var map = L.map('lgmap').setView([51.389078060389295, 10.340330121508005], 6);

					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
					}).addTo(map);

					var lokalgruppen = JSON.parse(document.querySelector('#lglokal').innerText);

					async function geocode(city, apiKey) {
						let json = await fetch('https://maps.googleapis.com/maps/api/geocode/json?address=' + city + ', Germany' + '&key=' + apiKey).then((r) => r.json());

						if (!json || !json.results.length > 0) {
							console.error('error geocoding city: ' + city);
						}
						return [json.results[0].geometry.location.lat, json.results[0].geometry.location.lng];
					}

					lokalgruppen.forEach(function (lokalgruppe) {
						L.marker(lokalgruppe.coords)
							.addTo(map)
							.bindPopup('<div><strong>' + lokalgruppe.name + '</strong><br><a href="' + lokalgruppe.href + '">Zur Lokalgruppenseite</a></div>');
					});
				</script>
			</div>
		</div>

		<div>
			<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 30" preserveAspectRatio="none" style="height: 80px; width: 100%;  ">
				<path d="M0,0 L1200,0 1200,30" style="fill: rgb(55, 65, 81);"></path>
			</svg>
		</div>
	</main>

	<Footer />
</Layout>

<style>
	.footer {
		border-top: 6px solid var(--color-blue-primary);
	}
</style>
