---
import Navbar from '@/components/Navbar.astro';
import Layout from './Layout.astro';
import Footer from '@/components/Footer.astro';
import path from 'path';
import { Image } from 'astro:assets';

function dynamicViteAssetImport(imageFileName: string) {
	const filename = path.parse(imageFileName);
	const name = filename.name;
	const ext = filename.ext;
	switch (ext) {
		case '.webp':
			return import(`../assets/${name}.webp`);
		case '.jpg':
			return import(`../assets/${name}.jpg`);
		case '.png':
			return import(`../assets/${name}.png`);
		case '.svg':
			return import(`../assets/${name}.svg`);
		case '.gif':
			return import(`../assets/${name}.gif`);
		case '.avif':
			return import(`../assets/${name}.avif`);
		case '.jpeg':
			return import(`../assets/${name}.jpeg`);
		default:
			return import(`../assets/${name}.jpg`);
	}
}

const { content } = Astro.props;

let heroImagePath: string = '';
let heroImage = null;

if (content && content.heroImage) {
	const file: string = Astro.props.file;
	const dir = file.substring(0, file.lastIndexOf('/'));

	heroImagePath = content.heroImage;

	if (!heroImagePath.startsWith('@')) {
		heroImagePath = dir + '/' + heroImagePath;
	} else {
		heroImagePath = '..' + heroImagePath.substring(1);
	}

	heroImage = (await import(/* @vite-ignore */ heroImagePath)).default;
}

const { title } = Astro.props.frontmatter || Astro.props;
---

<Layout title={title}>
	<Navbar rounded={heroImagePath ? true : false} />

	{
		heroImagePath && (
			<div class="bg-gray-700" style=" z-index: -100;">
				<div class="container mx-auto flex justify-center" style="padding-top: 75px;">
					<Image src={heroImage} alt="Hero Image" />
				</div>
			</div>
		)
	}

	<div class="container mx-auto border-x-2 border-gray-200">
		<div class="px-5 py-6 bg-stone-100" style={!heroImagePath ? 'margin-top: 80px;' : ''}>
			<h1 class="text-4xl font-extralight heading">{title}</h1>
		</div>

		<div class="p-5 bg-white">
			<article class={content ? 'content' : ''}><slot /></article>
		</div>
	</div>

	<Footer />
</Layout>
