---
import Navbar from '@/components/Navbar.astro';
import Layout from './Layout.astro';
import Footer from '@/components/Footer.astro';
import { Image } from 'astro:assets';
import { resolveImage } from '@/utils/astroImage';
const { content } = Astro.props;

let heroImagePath = null;

if (content && content.heroImage) {
	const file: string = Astro.props.file;
	// get directory path of file
	const dir = file.substring(0, file.lastIndexOf('/'));
	const relativeDir = dir.substring(process.cwd().length);

	heroImagePath = content.heroImage;

	if (heroImagePath.startsWith('@')) {
		heroImagePath = '/src/' + heroImagePath.substring(2);
	} else if (heroImagePath.startsWith('.')) {
		heroImagePath = relativeDir + '/' + heroImagePath.substring(2);
	}

	console.log(`heroImagePath: ${heroImagePath}`);
}

const { title } = Astro.props.frontmatter || Astro.props;
---

<Layout title={title} useBackground={true}>
	<Navbar rounded={heroImagePath ? true : false} />

	{
		heroImagePath && (
			<div class="bg-gray-700" style=" z-index: -100;">
				<div class="container mx-auto flex justify-center">
					<Image src={resolveImage(heroImagePath)()} alt="hero image" />
				</div>
			</div>
		)
	}

	<div class="container mx-auto border-x-2 border-gray-200">
		<div class="px-5 py-6 bg-stone-100">
			<h1 class="text-4xl font-light heading">{title}</h1>
		</div>

		<div class="p-5 bg-white">
			<article class={content ? 'content' : ''}><slot /></article>
		</div>
	</div>

	<Footer />
</Layout>
